<div class="Tagname"> 
    <h2> <%= @tag.name %> <h2> 
    <% @posts.each do |post| %> 
        <h4>  <%= link_to post.title, post, {:style=>'color:#85a3e0;', :class => "css_class"} %> </h4> 

        <% if post.image.file? %> 
          <%= image_tag post.image.url, :size => '250x150' %> 
        <% else %> 
          No image File!
        <% end %>

  

    <% end %> 
</div>