@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    padding-top:30px; 
 }


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
 }

 li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: black;
}

.navbar-header a:hover{
    background-color: white;
}
 
.navbar-brand {
    color: white;
}

.text {
    text-align: center;
    height: 35px;
 }
    
.log-form {
    text-align: center;
    margin-left: 356px;
    margin-top: 95px;
    padding: 2em;
}
    
.form-sing {
    text-align: center;
    padding: 40px;
    
}
    
.logo {
    font-family: 'Slabo 27px', serif;
    font-size: 20%;
}

.show {
    font-size: 110%;
    text-align: justify;
    margin-top: 19px;
}
    
.tetxInput {
    text-align: center; 
    margin-right: 50px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
}
   
.nav.navbar-nav.navbar-right{
    color: white;
}

.Newpost {
    margin-top: 60px;
}

.gallery {
    margin-top: 60px;
}

.logName {
    margin-top: 60px;
    width: 18em;
}

.Bodyname {
    margin-top: 60px;
}

.Categoryname {
    margin-top: 60px;
    text-align: center;
}

.Tagnamen{
    margin-top: 60px;
}

.SignupName {
    margin-top: 60px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 25px;
    width :300px;
    margin-left: 500px;
}

.navbar-center {
    margin-left: 46px;
}


.card-body{
    text-align: left;
    margin-left: 20px;
    margin-bottom: -299px;
    padding: 4px 20px;
}

.title {
    text-align: center;
}

.item {
    color:#48453d;
    margin-top:30px; 
    overflow:hidden;
}

.block-title {
    color: #48453d; margin-bottom:0px; 
    font-size:18px; 
    margin-top: 0px; 
    font-weight:700; 
    text-transform:uppercase;   
    margin-left: 20px;
}

.item-content-block {
    padding:20px; 
    border-top:2px solid #f6f6f2; 
    background-color:#FFF; 
    display:block;
}

.tagname {
    background-color:#FFF; 
    padding:10px; 
    color: black; 
    display:inline-block; 
    font-size:11px; 
    text-transform:uppercase; 
    line-height:11px; 
    border-radius:2px; 
    margin-bottom:5px; 
    margin-right:2px; 
    text-decoration:none;
}

.tagname a:hover {
    background-color:#a38018;
}
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.form-control { margin-bottom: 10px; }