@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: black;
}

.navbar-header a:hover{
    background-color: white;
}
 
.navbar-brand {
    color: white;
}

.text {
    text-align: center;
    height: 35px;
 }
    
.log-form {
    text-align: center;
    margin-left: 356px;
    margin-top: 95px;
}
    
.form-sing {
    text-align: center;
    margin-left: 356px;
    margin-top: 95px;   
}
    
.logo {
    font-family: 'Slabo 27px', serif;
    font-size: 20%;
}

.show {
    font-size: 110%;
    text-align: justify;
    margin-top: 19px;
}
    
.tetxInput {
    text-align: center; 
    margin-right: 50px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
}
   
.nav.navbar-nav.navbar-right{
    color: white;
}

.Newpost {
    margin-top: 60px;
}

.Bodyname {
    margin-top: 60px;
    text-align: left;
}

.Categoryname {
    margin-top: 60px;
}

.navbar-center {
    margin-left: 46px;
}

.Bodyname{
    text-align: left;
    margin-left: 520px;
    margin-bottom: -299px;
    padding: 4px 20px;
}